<nav>
  <button (click)="comeBackDigimonList()">Regresar menu</button>
</nav>
<article class="column-layout">
  <section>
    <h1>ID: {{ digimon.id }} - {{ digimon.name }}</h1>
    <section *ngFor="let item of digimon.images">
      <img [src]="item.href">
    </section>
  </section>
</article>
<section class="digimon_statistics">
  <section class="levels">
    <b>Level</b>
    <p *ngFor="let itedm of digimon.levels">
      {{ itedm.id }} - {{ itedm.level }}
    </p>
  </section>
  <section class="types">
    <b>Types</b>
    <p *ngFor="let itedm of digimon.types">{{ itedm.id }} - {{ itedm.type }}</p>
  </section>
  <section class="attributes">
    <b>Attributes</b>
    <p *ngFor="let itedm of digimon.attributes">
      {{ itedm.id }} - {{ itedm.attribute }}
    </p>
  </section>
</section>

<section class="digimon_description">
  <section class="desc">
    <b>Description</b>
    <p *ngFor="let item of digimon.descriptions">
      {{ item.description }}
    </p>
  </section>
</section>
